:root {
    --primary-color: #0a1128;
    --secondary-color: #f5f5f5;
    --tertiary-color: #eeeeee;
    --gap: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
/*-------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: 'Montserrat', sans-serif;
} 
h1 {
    font-size: 6.5rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
    
}
h3 {
    font-size: 5.0rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4.0rem;
}
h6 {
    font-size: 3.5rem;
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 3.5rem;
    text-align: center;
    
}
.main-bg {
    background-image: url('../img/main.svg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}
.white-bg {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap)
    
}
.section {
    min-height: 100vh;
}
.menu-spacing {
    height: 100px;
}

/*----------------- Nav ---------------------*/
.menu {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.01rem solid var(--secondary-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 0;
    
}
.menu h1 a {
    color: var(--primary-color)

}
.menu h1 {
    font-size: 2.5rem;
    color: var(--primary-color);

    
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}
.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/*----------------- Fim Nav ---------------------*/


/*-----------------  Section 1 ------------------------*/
.intro-content {
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content ,.intro-img  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2 {
    font-size: 8.0rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2;
   
}
.intro-img img {
    max-width: 100%;
    min-height: auto;
}

/*----------------- Fim Section 1 ---------------------*/


/*----------------- Section 2 -------------------------*/

.intro-content2 {
    max-width: 64rem;
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
}
.intro-content2 h2 {
    font-size: 8.0rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2;
}

/*----------------- Fim Section 2 ---------------------*/

/*----------------- Section 3 -------------------------*/

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.grid-one-content h2 {
    font-size: 8.0rem;
    text-transform: uppercase;
   
    line-height: 1.2;
}

.grid-description {
    padding-bottom: 6rem;
    text-align: start;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 7rem;
    padding-bottom: 5rem;
    
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8.0rem;
    font-style: italic;
    top: -5rem;
    left: 2rem;
    transform: rotate(5deg);
}

/*----------------- Fim Section 3 -------------------------*/

/*-----------------  Section 4 -------------------------*/
 .gallery-grid {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
 }
    .gallery-grid img {
       transition: all 400ms ease-in-out;
    }
    .gallery-grid img:hover {
        transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
    }

/*-----------------  Fim Section 4 -------------------------*/

/*-----------------  Section 5 -------------------------*/
.contact-form {
    grid-column: span 2;
}
.contact-form fieldset {
    border: none;
}
.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend {
    font-size: 1.7rem;
    font-style: italic;
    color: var(--secondary-color);
}
.form-group {
   
    flex: 1 1 400px;
}

.form-group label {
    display: block;
}

.form-group input,textarea {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    
    
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}
.form-group button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
   
}
.form-group button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*----------------- Fim Section 5 -----------------------*/

/*----------------- Footer -----------------------*/
.footer {
    text-align: center;
}
.footer p {
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}   
.footer a {
    color: var(--primary-color);
}


/*----------------- Fim Footer -----------------------*/

/*----------------- @Media  -----------------------*/
@media (max-width: 800px) {
    .intro-content {
        grid-template-columns: 1fr;
    }
    .intro-content2 {
        grid-template-columns: 1fr;
    }
    .grid-one-content {
        grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .contact-form {
        grid-column: span 1;
    }
}
/* @media (max-width: 460px) {
    .menu {
        bottom: 0;
        text-align: center;
    }
    .menu-content,.menu-content ul {
        flex-direction: column;
        
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }
    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .close-menu-label::after {
        content: '';
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
    }
} */

/*----------------- Fim @Media -----------------------*/



